# pip3 install -U -r requirements.txt
NumPy
matplotlib
SciPy
joblib
scikit-learn
tqdm
torch
torchvision
# By July 2019, tensorflow doesn't support python 3.7, install tf-nightly instead
# pip3 install tf-nightly
